{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">User Profile</h2>
                <p class="fs-5">Hello, {{ username }}!</p>
                <div class="d-grid mt-4">
                    <a href="{{ url_for('users.logout') }}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}